body{
    background-image: url(Imagens/backgroundSVG.png );
    background-repeat: no-repeat;
    background-position: center center;
    height: 98%;
    width: 67.4%;
    background-size: 70% 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: monospace;
    color: #004;
    word-spacing: 1px;
}

.painel-cadastro{
    height: 77%;
    width: 52.1%;
    background-color: rgba(255, 255, 255, 0.692);
    margin-bottom: -15.5%;
    margin-right: -96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3%
}

input{
    width: 70%;
    height: 6.8%;
    margin-bottom: -2%;
    margin-top: -2%;
}

.painel-cadastro > h3{
    margin-right: auto !important;
    margin-left: 15%;
}
#logo{
    width: 8.1%;
    height: 13,3%;
    margin-right: 27%;
    margin-top: -39%;
    position: absolute; 
}

button{
    height: 6.8%;
    background-color: rgb(192, 10, 10);
    width: 70%;
    margin-top: 5%;
}

#jack{
    position: absolute;
    height: 50%;
    margin-right: 18%;
    margin-bottom: -26%;
}

.aaa{
    width: 31.9%;
    background-color: #793AED;
    height: 7,3%;
    position: absolute;
    margin-left: -82.7;
    margin-top: -33%;
    font-size: 90%;
    line-height: 0;
}

.bbb{
    width: 31.9%;
    background-color: #004F9E;
    height: 7,3%;
    position: absolute;
    margin-left: -16.7%;
    margin-top: -20%;
    font-size: 90%;
    line-height: 0;
}

.ccc{
    width: 31.9%;
    background-color: #793AED;
    height: 7,3%;
    position: absolute;
    margin-left: -6.7%;
    margin-top: -8%;
    font-size: 90%;
    line-height: 0;
}


